<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="layout">

<div class="sidebar">
    <h2>🎓 Smart</h2>
    <a href="/dashboard">🏠 Dashboard</a>
    <a href="/add">➕ Manage</a>
    <a href="/timetable_page" class="active">📅 Timetable</a>
    <a href="/logout">🚪 Logout</a>
</div>

<div class="main">

<div class="topbar">
    <h3>Timetable</h3>
</div>

<div class="content">

<div class="card">
<h3>Weekly Schedule</h3>

<table id="table">
<thead>
<tr>
<th>Classroom</th>
<th>Subject</th>
<th>Day</th>
<th>Time</th>
<th>Actions</th>
</tr>
</thead>
<tbody></tbody>
</table>

</div>

</div>

</div>
</div>

<script src="/static/script.js"></script>

<script>
async function loadTable() {
    let res = await fetch("/api/timetable");
    let data = await res.json();

    let tbody = document.querySelector("#table tbody");
    tbody.innerHTML = "";

    data.forEach(t => {
        tbody.innerHTML += `
        <tr>
            <td>${t.classroom}</td>
            <td>${t.subject}</td>
            <td>${t.day}</td>
            <td>${t.time}</td>
            <td>
                <button class="delete-btn" onclick="deleteTimetable(${t.id})">❌</button>
            </td>
        </tr>`;
    });
}

loadTable();
</script>

</body>
</html>